@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(resim.jpg);
  background-size: cover;
  background-attachment: fixed;
}
a {
  color: aliceblue;
}

.container {
  width: 80%;
  margin: auto;
}

/* header start */
header {
  height: 100px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header nav .logo a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  column-gap: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.25s ease;
}
nav ul li a:hover {
  color: bisque;
}

nav .menu {
  display: flex;
  align-items: center;
  column-gap: 48px;
}
nav .menu .menu-button {
  color: rgb(209, 122, 36);
  text-decoration: none;
  background-color: rgb(241, 230, 209);
  padding: 12px 24px;
  border-radius: 56px;
}

nav .menu .menu-button:hover {
  background-color: antiquewhite;
  color: white;
}
/* header end  */

/*! section start */
.content {
  color: white;
  height: calc(100vh - 100px);
  padding-top: 150px;
}

.content h1 {
  font-size: 60px;
  text-align: center;
}

.content .links {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  column-gap: 16px;
}

.content .links a {
  background-color: white;
  padding: 20px;
  width: 280px;
  color: black;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  border-radius: 56px;
  transition: all 0.25s ease-in;
}

.content .links a:hover {
  background-color: #d6845e;
  color: white;
}

.content p {
  font-size: 24px;
  text-align: center;
  margin-top: 32px;
}
/*  section end */

/* responsive start */
@media (max-width: 576px) {
  .container {
    width: 100px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .menu ul {
    column-gap: 20px;
  }

  .menu .menu-button {
    display: none;
  }

  .content {
    padding-top: 50px;
  }

  .content .links a {
    padding: 14px;
    width: 90px;
  }
}
/* responsive end */
